/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */
@import 'base/normalize.css';

/* Components 
========================================================================== */
@import 'components/header.css';
@import 'components/computeResult.css';
@import 'components/courseList.css';
@import 'components/studentList.css';
@import 'components/uploadCourse.css';

/* Views 
========================================================================== */
@import 'views/session.css';
@import 'views/sessions.css';
@import 'views/createSession.css';
@import 'views/compute.css';
@import 'views/result.css';

.mx-2 {
  margin: 0px 4px;
}

a {
  text-decoration: none;
  color: #141414;
}

.d-flex {
  display: flex;
  width: 100%;
}

.flex {
  flex: 1;
  width: 50%;
}

.rotate-text {
  transform: rotate(-90deg);
}

.text-center {
  text-align: center;
}

button:disabled {
  color: #5a5858;
  border: 0;
  background: #d4d1d1;
}

.f-18 {
  font-size: 17px;
}

.f-16 {
  font-size: 16px;
}

.text-bold {
  font-weight: 400;
  font-size: 15px;
}
